.vot-info {
  display: flex;
  color: rgba(var(--vot-helper-onsurface-rgb), 0.87);
  font-family: var(
    --vot-font-family,
    "Roboto",
    "Segoe UI",
    system-ui,
    sans-serif
  );
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  user-select: text;

  & > :not(:first-child) {
    color: rgba(var(--vot-helper-onsurface-rgb), 0.5);
    flex: 1;
    margin-left: 8px !important;
  }
}
