.vot-label {
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  display: block;

  &-text {
    display: inline;
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    vertical-align: text-bottom;
    cursor: help;

    > svg {
      width: 20px;
      height: 20px;
      display: block;
    }
  }
}
