@use "./mixins" as button;

.vot-button {
  --vot-helper-theme: var(
    --vot-theme-rgb,
    var(--vot-primary-rgb, 33, 150, 243)
  );
  --vot-helper-ontheme: var(
    --vot-ontheme-rgb,
    var(--vot-onprimary-rgb, 255, 255, 255)
  );
  @include button.vot-button-base(
    $radius: var(--vot-radius-s),
    $padding: 0 var(--vot-space-4),
    $min-width: 64px,
    $height: 36px,
    $line-height: 36px
  );
  border: none !important;
  color: rgb(var(--vot-helper-ontheme));
  background-color: rgb(var(--vot-helper-theme));
  box-shadow: var(--vot-shadow-1);
  transition: box-shadow var(--vot-duration-medium) var(--vot-easing-standard);
  @include button.vot-button-layers(rgb(var(--vot-helper-ontheme)));
  @include button.vot-button-layer-hover(0.08);
  @include button.vot-button-layer-active(0.32);

  &:hover {
    box-shadow: var(--vot-shadow-2);
  }

  &:active {
    box-shadow: var(--vot-shadow-2);
  }

  &[disabled="true"] {
    background-color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.12);
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    box-shadow: none;
    cursor: initial;
    @include button.vot-button-layer-reset-disabled;
  }
}
