@use "./mixins" as button;

.vot-icon-button {
  --vot-helper-onsurface: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
  @include button.vot-button-base(
    $radius: 50%,
    $padding: 0,
    $min-width: 36px,
    $height: 36px,
    $line-height: 36px,
    $margin: 0 !important
  );
  border: none !important;
  width: 36px;
  fill: var(--vot-helper-onsurface);
  color: var(--vot-helper-onsurface);
  background-color: transparent;
  @include button.vot-button-layers(var(--vot-helper-onsurface));
  @include button.vot-button-layer-hover(0.04);
  @include button.vot-button-layer-active(0.32);
  &[disabled="true"] {
    background-color: transparent;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    fill: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
    @include button.vot-button-layer-reset-disabled;
  }

  & svg {
    fill: inherit;
    stroke: inherit;
    width: 24px;
    height: 36px;
  }
}
