@use "./mixins" as button;

.vot-outlined-button {
  --vot-helper-theme: var(
    --vot-theme-rgb,
    var(--vot-primary-rgb, 33, 150, 243)
  );
  @include button.vot-button-base(
    $radius: var(--vot-radius-s),
    $padding: 0 var(--vot-space-4),
    $min-width: 64px,
    $height: 36px,
    $line-height: 34px,
    $margin: 0 !important
  );
  border: solid 1px var(--vot-border-color) !important;
  color: rgb(var(--vot-helper-theme));
  background-color: transparent;
  @include button.vot-button-layers(rgb(var(--vot-helper-theme)));
  @include button.vot-button-layer-hover(0.04);
  @include button.vot-button-layer-active(0.16);

  &[disabled="true"] {
    background-color: transparent;
    color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
    @include button.vot-button-layer-reset-disabled;
  }
}
