.vot-select_new {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  user-select: none;

  &-label {
    flex: 1;

    &__description {
      color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.68);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.25px;
      line-height: 20px;
    }
  }

  &-outer {
    cursor: pointer;

    width: 120px;
    max-width: 120px;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.75em;
    border: 1px solid var(--vot-border-color);
    color: rgba(var(--vot-onsurface-rgb), 0.87);
    transition: border-color var(--vot-duration-medium)
      var(--vot-easing-standard);

    &__title {
      flex: 1;
      height: 24px;
      font-size: 0.8em;
      align-content: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__arrow {
      display: flex;
      font-size: 1.5em;
      fill: currentColor;
      transition: transform var(--vot-duration-medium)
        var(--vot-easing-standard);
    }

    &[aria-disabled="true"] {
      cursor: not-allowed;
      opacity: 0.38;
    }

    &:not([aria-disabled="true"]):hover {
      border-color: var(--vot-border-color-hover);
    }

    &[aria-expanded="true"] .vot-select_new-outer__arrow {
      transform: rotate(180deg);
    }
  }

  &-inner {
    --vot-select-inner-primary-rgb: var(--vot-primary-rgb, 33, 150, 243);

    position: fixed;
    z-index: 2147483647;
    user-select: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0.5em;
    border-radius: 0.75em;
    background: rgb(var(--vot-secondary-rgb, 43, 44, 48));
    color: rgba(var(--vot-onsurface-rgb), 0.87);
    max-height: min(85vh, 500px);
    overflow: scroll;

    &__option {
      cursor: pointer;
      padding: 0.5em 0.75em;
      border-radius: 0.5em;
      transition: background var(--vot-duration-medium)
        var(--vot-easing-standard);

      &[aria-disabled="true"] {
        cursor: not-allowed;
        opacity: 0.38;
      }

      &:not([aria-disabled="true"]):hover {
        background: rgba(var(--vot-onsurface-rgb), 0.14);
      }

      &[aria-selected="true"] {
        color: rgb(var(--vot-select-inner-primary-rgb));
        background: rgba(var(--vot-select-inner-primary-rgb), 0.2);

        &:not([aria-disabled="true"]):hover {
          background: rgba(var(--vot-select-inner-primary-rgb), 0.1);
        }
      }
    }
  }
}
