.vot-slider_new-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 0.75em;

  &__text {
    flex: 1 1 auto;
    text-align: left;
  }

  &__value {
    flex: 0 0 auto;
    text-align: right;
    font-variant-numeric: tabular-nums;
    font-weight: 600 !important;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    user-select: none;
    color: rgba(var(--vot-onsurface-rgb, 227, 227, 227), 0.5);
  }
}
