.vot-progress-icon {
  --vot-helper-theme: var(
    --vot-theme-rgb,
    var(--vot-primary-rgb, 33, 150, 243)
  );
  fill: none;
  stroke: rgb(var(--vot-helper-theme));
  stroke-width: 2;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  &_base {
    --vot-helper-theme: var(--vot-secondary-rgb, 43, 44, 48);
  }
}
